body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px; }

/* header block */
.header {
  display: block; }

.up {
  height: 30px;
  background: #0054a4; }

.logo {
  position: absolute;
  z-index: 1;
  margin-left: -15px; }

.iconsBrands {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #0054a4;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 15px; }

.menu {
  height: 90px;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .menu li {
    display: inline-block;
    font-family: "OpenSans", sans-serif; }
  .menu ul li a {
    display: block;
    height: 38px;
    color: #3b3b3b;
    padding: 1px 10px;
    font-size: 15px;
    line-height: 38px;
    border-radius: 20px; }
  .menu ul li a:hover {
    background: #eeeeee;
    padding: 0 9px;
    border: 1px solid #3778b5;
    border-radius: 20px;
    color: #3778b5; }
  .menu__burgerMenu {
    display: none; }
    .menu__burgerMenu span {
      display: block;
      width: 30px;
      height: 3px;
      background: black;
      margin-bottom: 5px;
      border-radius: 5px; }
    .menu__burgerMenu a:hover {
      color: #0054a4; }
    .menu__burgerMenu .burgerMenuItems {
      display: none; }
    .menu__burgerMenu .burgerMenuItems-active {
      display: block;
      position: absolute;
      top: 100px;
      right: 40px;
      z-index: 300;
      background-color: rgba(255, 255, 255, 0.82); }
      .menu__burgerMenu .burgerMenuItems-active ul {
        width: 120px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        list-style: none; }
        .menu__burgerMenu .burgerMenuItems-active ul a {
          display: flex;
          text-align: center;
          font-family: "OpenSans";
          letter-spacing: -0.1px;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.48); }
  .menu__donate {
    display: inline-block;
    background: #f15b4f;
    color: white;
    font-family: "OpenSans-ExtraBold";
    font-weight: bold;
    font-size: 14px;
    padding: 1px 20px;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    margin-left: 15px; }
  .menu__donate:hover {
    box-shadow: 0 0 10px #767676; }

.title {
  max-width: 1920px;
  height: 550px;
  background: url(../img/1.png) no-repeat center;
  background-size: cover; }

.textContent {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 500px; }
  .textContent span {
    color: #0054a4;
    font-size: 60px;
    padding-top: 40px;
    font-family: "Lobster"; }
  .textContent p {
    font-size: 18px;
    font-family: "OpenSans"; }
  .textContent__actionButton {
    margin-top: 25px; }

.button {
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-family: "OpenSans-ExtraBold";
  margin-left: 10px; }
  .button-red {
    background: #f15b4f; }
  .button-blue {
    background: #0054a4; }

.button:hover {
  box-shadow: 0 0 10px #767676; }

.button:first-child {
  margin-left: 0; }

/*  main block   */
.flexBlocks {
  display: flex;
  justify-content: space-between;
  margin-top: -80px; }

.flexItem {
  height: 170px;
  max-width: 370px;
  background: #000;
  margin-right: 30px;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 20px 30px 10px; }
  .flexItem-green {
    background: #6fbd2a; }
  .flexItem-red {
    background: #f15b4f; }
  .flexItem-blue {
    margin-right: 0;
    background: #0054a4; }
  .flexItem__iconSection {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 15px;
    margin-left: 10px; }
    .flexItem__iconSection-greenIcon {
      color: #6fbd2a; }
    .flexItem__iconSection-redIcon {
      color: #f15b4f; }
    .flexItem__iconSection-blueIcon {
      color: #0054a4; }

.flexItem:hover {
  box-shadow: 0 0 10px #767676;
  cursor: pointer; }

.textSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 70%; }
  .textSection__line {
    height: 2px;
    width: 95px;
    background-color: #a1d474;
    margin: -10px 0 0 0; }
    .textSection__line-lightRed {
      background-color: #f6948c; }
    .textSection__line-lightBlue {
      background-color: #5990c4; }
  .textSection__anotherText {
    font-size: 14px;
    color: white;
    font-family: "OpenSans"; }

.iconTextSection {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .iconTextSection__captionText h1 {
    font-size: 26px;
    color: white;
    font-family: "Lobster"; }
  .iconTextSection__arrowIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
    color: white; }

.sectionAboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .sectionAboutContent__intro {
    color: black;
    margin: 50px 300px;
    text-align: center; }
    .sectionAboutContent__intro h1 {
      font-family: "Lobster";
      font-size: 40px; }
    .sectionAboutContent__intro p {
      font-family: "OpenSans";
      color: #9d9d9d;
      margin: 10px -10px 50px -10px; }
  .sectionAboutContent__itemsContent {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
  .sectionAboutContent-event {
    background: #f1f1f1; }
  .sectionAboutContent-news {
    background-color: #f1f1f1; }

.item {
  text-align: center;
  font-family: "Lobster";
  margin-right: 40px; }
  .item p {
    font-size: 22px;
    margin: 0;
    color: #9d9d9d; }
  .item h1 {
    font-size: 40px;
    color: #0054a4;
    margin: 0 0 50px 0; }

.item__img {
  margin-bottom: 30px; }

.seeMore {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: -70px; }
  .seeMore span {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-bottom: #0054a4 2px solid;
    margin-bottom: 20px;
    display: inline-block;
    text-align: right; }
  .seeMore span:hover {
    color: #0054a4; }

.eventItem {
  display: flex;
  flex-direction: column;
  background: white;
  width: 350px;
  height: 570px;
  margin-bottom: 50px;
  border: solid 1px #dddddd;
  margin-right: 50px; }
  .eventItem img {
    width: 100%; }
  .eventItem__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 200px;
    text-align: center; }
    .eventItem__text h1 {
      font-size: 24px;
      font-family: "Lobster";
      color: black;
      margin: 10px 30px 20px 30px; }
    .eventItem__text p {
      font-size: 16px;
      font-family: "OpenSans";
      color: #9d9d9d;
      margin: 0 30px 80px 30px; }
    .eventItem__text-left {
      margin-bottom: 80px; }
  .eventItem .lineNews {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    margin-top: 85px; }
  .eventItem .newsButtons {
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;
    color: #9d9d9d; }
    .eventItem .newsButtons .far {
      margin-left: 20px; }
      .eventItem .newsButtons .far p {
        display: inline-block;
        margin-left: 10px;
        font-family: "OpenSans"; }
    .eventItem .newsButtons a {
      color: #9d9d9d;
      padding: 0; }
    .eventItem .newsButtons a:hover {
      color: #0054a4;
      padding: 0; }
  .eventItem .repeatBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #9d9d9d;
    margin-top: 5px;
    margin-left: 120px; }
  .eventItem__anotherText {
    font-family: "OpenSans";
    font-size: 15px;
    font-weight: bold;
    text-align: center; }
    .eventItem__anotherText p {
      color: black; }
    .eventItem__anotherText span {
      color: #0054a4; }
  .eventItem__buttons {
    display: flex;
    font-size: 15px;
    font-family: "OpenSans";
    margin-top: 10px; }

.eventItem:last-child {
  margin-right: 0; }

.buttonLeft {
  width: 180px;
  color: white;
  background: #f15b4f;
  text-align: center;
  padding: 15px 0; }

.buttonLeft:hover {
  box-shadow: 0 0 10px #767676;
  cursor: pointer; }

.buttonRight {
  width: 180px;
  color: #9d9d9d;
  background: white;
  text-align: center;
  padding: 15px 0;
  border: solid 1px #dddddd; }

.buttonRight:hover {
  box-shadow: 0 0 10px #767676;
  cursor: pointer; }

.miniLogo {
  width: 65px;
  height: 65px;
  background: #0054a4;
  border-radius: 50%;
  margin: -30px auto 0 auto; }

.miniLogo:hover {
  box-shadow: 0 0 10px #767676;
  cursor: pointer; }

.videoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px; }
  .videoItem iframe {
    width: 550px;
    height: 300px; }
  .videoItem p {
    color: #9d9d9d;
    font-family: "OpenSans";
    margin-bottom: 50px; }

.videoItem:last-child {
  margin-right: 0; }

.eventItem__img-first {
  background-image: url(../img/news1.png);
  width: 100%;
  background-size: cover;
  height: 230px; }

.eventItem__img-second {
  background-image: url(../img/news2.png);
  width: 100%;
  background-size: cover;
  height: 230px; }

.eventItem__img-third {
  background-image: url(../img/news3.png);
  width: 100%;
  background-size: cover;
  height: 230px; }

.eventItem__text-left {
  margin: 0 20px 0 20px; }
  .eventItem__text-left h1 {
    text-align: left; }
  .eventItem__text-left p {
    text-align: left; }
  .eventItem__text-left span {
    text-align: left; }

.newsBtn {
  font-size: 13px;
  font-family: "OpenSans";
  font-weight: bold;
  padding: 5px 10px;
  margin: 20px 30px 0 30px;
  align-self: flex-start;
  border-radius: 5px;
  color: white; }
  .newsBtn-green {
    background: #6fbd2a; }
  .newsBtn-red {
    background: #f15b4f; }
  .newsBtn-blue {
    background: #0054a4; }

.volunteer {
  max-width: 1920px;
  height: 550px;
  background: url(../img/volunteer.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.becomeVolunteer {
  width: 350px;
  height: 300px;
  background: white;
  text-align: center;
  color: black; }
  .becomeVolunteer span {
    font-size: 40px;
    font-family: "Lobster";
    font-weight: bold; }
  .becomeVolunteer h1 {
    font-size: 25px;
    font-family: "Lobster";
    font-weight: bold;
    margin: 0;
    padding: 30px 0 0 0; }
  .becomeVolunteer p {
    font-size: 14px;
    font-family: "OpenSans";
    color: #9d9d9d;
    margin: 20px 30px 30px 30px; }
  .becomeVolunteer a {
    padding: 5px 20px;
    color: #0054a4;
    background: white;
    border: #0054a4 solid 2px;
    border-radius: 23px;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 900; }
  .becomeVolunteer a:hover {
    background: #0054a4;
    color: white; }

.footer {
  width: 100%;
  height: 420px;
  background-image: url("../img/bg.png"); }

.social {
  display: flex;
  justify-content: flex-start;
  width: 500px; }
  .social__logo {
    margin-top: 100px;
    margin-left: 50px; }
    .social__logo .brandsLogo {
      display: flex;
      justify-content: center;
      align-items: center; }
    .social__logo .fab {
      text-align: center;
      display: inline-block;
      background: none;
      color: white;
      margin: 20px 20px;
      padding: 0 auto;
      font-size: 20px; }

.siteLinks {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 100px; }
  .siteLinks p {
    font-family: "Lobster";
    font-size: 23px;
    color: white;
    width: 100px;
    margin-bottom: 10px; }
  .siteLinks__miniMenu ul {
    padding-left: 0; }
  .siteLinks__miniMenu li {
    list-style: none;
    padding: 5px 0; }
  .siteLinks__miniMenu a {
    color: #80afd8;
    font-family: "OpenSans"; }
  .siteLinks__twoLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 0; }
    .siteLinks__twoLine .leftLine {
      width: 50px;
      background: #659a37;
      height: 4px; }
    .siteLinks__twoLine .rightLine {
      width: 70px;
      background: #227dc4;
      height: 2px; }

.contactUs {
  display: flex;
  text-align: left;
  margin-top: 60px;
  flex-direction: column;
  margin-left: 100px; }
  .contactUs p {
    font-family: "Lobster";
    font-size: 23px;
    color: white;
    width: 100px;
    margin-bottom: 10px; }
  .contactUs .siteLinks__twoLine {
    margin-bottom: 20px; }
  .contactUs span {
    font-family: "OpenSans";
    font-size: 16px;
    color: #80afd8;
    width: 200px;
    margin-bottom: 5px; }

.signUp {
  display: flex;
  text-align: left;
  margin-top: 60px;
  flex-direction: column;
  margin-left: 100px; }
  .signUp p {
    font-family: "Lobster";
    font-size: 23px;
    color: white;
    width: 150px;
    margin-bottom: 10px; }
  .signUp .siteLinks__twoLine {
    margin-bottom: 20px; }
  .signUp a {
    color: white;
    width: 180px;
    text-align: center;
    padding: 5px 10px;
    background-color: #f15b4f;
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: 800;
    border-radius: 3px; }
  .signUp a:hover {
    box-shadow: 0 0 10px #767676; }

#slider-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70px;
  z-index: 999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #9d9d9d solid 2px;
  color: #9d9d9d;
  font-size: 20px; }

.sliderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  width: 225px;
  background: white;
  overflow: hidden; }
  .sliderBlock .lineSlider {
    position: relative;
    display: flex;
    width: 630px;
    justify-content: space-between;
    align-items: flex-start;
    left: 0;
    transition: all ease 1s; }
    .sliderBlock .lineSlider .lineSlider__img {
      width: 200px;
      height: 100px;
      background: #efefef;
      margin-right: 25px; }
      .sliderBlock .lineSlider .lineSlider__img img {
        width: 200px;
        height: 100px; }

#slider-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  right: 70px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #9d9d9d solid 2px;
  color: #9d9d9d;
  font-size: 20px; }

#slider-left:hover {
  border-color: #0054a4;
  color: #0054a4; }

#slider-right:hover {
  border-color: #0054a4;
  color: #0054a4; }

.wrapper-slider {
  display: flex;
  justify-content: center;
  align-items: center; }

.textFooter {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003b7b;
  color: #80afd8; }
  .textFooter p {
    font-family: "OpenSans";
    font-size: 14px; }

@media screen and (max-width: 1190px) {
  .menu__listMenu {
    display: none; }
  .menu__burgerMenu {
    display: block; }
  .flexBlocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .flexItem {
    margin: 0;
    width: 450px;
    margin-top: 50px; }
  .flexItem-green {
    margin-top: 100px; }
  .sectionAboutContent__itemsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .sectionAboutContent__intro {
    margin: 20px; }
  .footer {
    height: auto;
    background-size: cover; }
  .social__logo {
    margin: 20px auto 0 auto; }
  .social {
    margin: 0 auto;
    flex-direction: column;
    width: 100%; }
  .siteLinks {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .siteLinks__twoLine {
      margin: 0 auto;
      justify-content: center;
      align-items: center; }
  .contactUs {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
  .signUp {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .signUp a {
      margin-bottom: 30px; }
  .videoItem {
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px; }
  .item {
    margin-right: 0;
    margin-top: 30px; }
  .eventItem {
    margin-right: 0; }
  .seeMore {
    margin-top: 50px; } }

@media screen and (max-width: 695px) {
  .becomeVolunteer {
    min-height: 300px; }
  #sliderBlock {
    width: 225px; }
  .lineSlider {
    width: 630px; } }

@media screen and (max-width: 594px) {
  .videoItem {
    display: flex;
    justify-content: center;
    align-items: center; }
    .videoItem__video {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .videoItem iframe {
      height: 200px;
      width: 300px; } }

@media screen and (max-width: 523px) {
  .textContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 300px; }
    .textContent span {
      color: #0054a4;
      font-size: 40px;
      padding-top: 40px;
      font-family: "Lobster"; }
    .textContent p {
      font-size: 20px;
      font-family: "OpenSans"; }
  .button {
    font-size: 10px; }
  .flexItem {
    width: 250px;
    height: 250px; }
  .logo img {
    height: 150px;
    width: 200px; }
  .menu__donate {
    font-size: 10px; }
  #slider-right {
    right: 15px; }
  #slider-left {
    left: 30px; } }

@media screen and (max-width: 405px) {
  .eventItem {
    width: 250px;
    height: 600px; }
  .eventItem__text-left {
    margin-bottom: 100px; }
  .newsButtons a {
    margin: 0; }
  .repeatBtn a {
    display: none; }
  .eventItem__anotherText {
    margin-top: 70px; }
  .social__logo img {
    width: 250px;
    height: 100px; }
  .siteLinks {
    width: 100px; }
  .contactUs {
    width: 100px; }
  .signUp {
    width: 100px; }
  .logo img {
    width: 135px;
    height: 100px;
    left: 0; } }

@media screen and (max-width: 390px) {
  .flexItem {
    justify-content: space-around; }
    .flexItem__iconSection {
      width: 55px;
      height: 55px;
      margin-right: 5px;
      margin-left: 5px; }
  .textSection {
    width: 50%; }
    .textSection h1 {
      font-size: 16px; }
  .becomeVolunteer {
    min-height: 300px;
    width: 100%; }
  .videoItem iframe {
    width: 200px; }
  #slider-right {
    width: 20px;
    height: 20px; }
  #slider-left {
    width: 20px;
    height: 20px; } }
